<a href="https://colab.research.google.com/github/NihaRGali/data690_NihaGali/blob/main/assignment_03/assignment03_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - WEEK 3
NIHA REDDY GALI

## 1. Printing 100 random integers in a 10 by 10 matrix

In [5]:
from random import randrange
for i in range(10):
    for j in range(10):
        print(randrange(10),end=" ")
    print("")

8 3 7 4 7 2 6 4 6 2
6 7 3 6 3 4 1 6 6 8
5 3 9 5 9 7 4 4 7 0
1 8 5 4 9 6 5 0 7 2
3 6 5 6 9 4 6 9 1 1
6 5 0 1 7 2 1 1 4 3
6 9 8 2 4 7 5 9 9 9
8 1 3 4 7 9 6 3 3 3
8 3 5 8 1 7 1 4 2 7
8 0 5 0 7 2 3 3 4 2

## 2. Printing "@" if the random number is odd

In [6]:

for i in range(10):
    for j in range(10):
        a=randrange(10)
        if a%2==1:
            a="@"
        print(a,end=" ")
    print("")

@ @ 8 @ 6 @ 0 @ @ @
@ @ @ 0 @ 2 @ 2 4 @
8 2 0 2 @ 0 4 6 0 @
6 @ 6 6 6 @ 8 @ @ 6
@ @ @ @ 2 @ @ @ @ @
@ @ @ @ @ 4 0 6 @ @
@ @ @ @ 8 8 6 2 2 @
0 @ 0 8 0 2 4 2 @ @
@ 2 0 @ 6 2 8 @ @ @
@ 8 @ @ @ 4 @ 2 6 8

## 3. Printing the total of each row

In [9]:

for i in range(10):
    sum=0
    for j in range(10):
        a=randrange(10)
        sum=sum+a
        print(a ,end=" ")
    print('* '+str(sum), end=" ")
    print("")

8 5 3 3 5 3 9 5 2 1 * 44
7 3 8 3 5 3 9 5 3 5 * 51
4 3 6 6 7 6 3 3 2 1 * 41
6 7 2 9 5 0 3 7 0 0 * 39
9 9 6 0 9 1 7 8 7 9 * 65
2 7 3 4 7 6 5 7 6 5 * 52
7 2 8 1 3 9 9 0 7 1 * 47
4 7 9 0 9 2 1 5 2 7 * 46
4 9 3 0 1 3 1 9 9 8 * 47
6 3 5 1 1 4 8 4 9 8 * 49

## 4. Surrounding the matrix with asterisks (*)

In [8]:

print('***********************')
for i in range(10):
    print("* ",end="")
    for j in range(10):
        print(randrange(10),end=" ")
    print("*")
print('***********************')

***********************
* 7 2 8 2 7 0 6 9 1 9 *
* 2 4 0 8 3 6 1 6 1 6 *
* 3 1 3 4 5 7 6 3 9 1 *
* 6 3 2 5 9 3 5 1 8 2 *
* 4 4 7 6 5 6 0 7 6 9 *
* 4 3 3 4 4 8 6 9 6 5 *
* 9 5 7 7 2 2 2 0 5 5 *
* 2 6 1 6 1 2 8 5 7 2 *
* 4 5 5 2 6 9 0 7 7 2 *
* 4 1 9 6 0 3 5 4 6 6 *
***********************