<a href="https://colab.research.google.com/github/NihaRGali/data690_NihaGali/blob/main/assignment_10/assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment_10
### Professor : Wang
### Student   : Niha Reddy Gali
### Date      : 11/06/21

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('./gapminder.tsv' , sep='\t') 
df.head()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['country']

In [ ]:
country_df = df['country']
country_df.head()

In [ ]:
type(country_df)

In [ ]:
subset = df[['country','continent','year']]
subset.head()

In [ ]:
df.loc[2]

In [ ]:
df.loc[[2,0]]

In [ ]:
df.iloc[2]

In [ ]:
subset = df.loc[:,['year','pop']]
subset.head()

In [ ]:
df.loc[df['year'] == 1967,['year','pop']]

In [ ]:
df.loc[(df['year'] == 1967) & (df['pop']>1_00_000),['year','pop']]

In [ ]:
pew = pd.read_csv('data/pew.csv')
pew.head()

In [ ]:
pew_long = pd.melt(pew,id_vars='religion')
pew_long.head()

In [ ]:
pew_long = pd.melt(pew,id_vars='religion',
                  var_name='income',
                  value_name='count'
                  )
pew_long.head()

In [ ]:
billboard = pd.read_csv('data/billboard.csv')
billboard

In [ ]:
billboard_melt = pd.melt(
    billboard, 
    id_vars = ['year', 'artist', 'track' ,'time','date.entered'],
    var_name= 'week',
    value_name = 'rating' )
billboard_melt.head()

In [ ]:
billboard.shape

In [ ]:
billboard_melt.shape

In [ ]:
ebola = pd.read_csv('data/country_timeseries.csv')     
ebola.head()

In [ ]:
ebola_long = pd.melt(ebola,
                    id_vars = ['Date','Day'])
ebola_long.head()

In [ ]:
'Cases_Guinea'.split('_')

In [ ]:
variable_split = ebola_long['variable'].str.split('_')
variable_split

In [ ]:
variable_split.str.get(0)

In [ ]:
variable_split.str.get(1)

In [ ]:
type(variable_split)

In [ ]:
ebola_long['stats'] = variable_split.str.get(0)      
ebola_long['country'] = variable_split.str.get(1)
ebola_long.head()

In [ ]:
ebola_long[['stats_e','country_e']]=(ebola_long['variable']
                                     .str
                                     .split('_',expand=True))
ebola_long

In [ ]:
weather = pd.read_csv('data/weather.csv')
weather

In [ ]:
weather_melt = pd.melt(
    weather,
    id_vars=['id','year','month','element'], 
    var_name='day', 
    value_name= 'temp'
    )                   
weather_melt

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp'
) 
weather_tidy.reset_index()

In [ ]:
billboard_melt.head()

In [ ]:
billboard_melt.loc[billboard_melt['track'] == 'Loser']

In [ ]:
billboard_songs = billboard_melt[['year','artist','track','time']]
billboard_songs

In [ ]:
billboard_songs.shape

In [ ]:

billboard_songs.drop_duplicates()

In [ ]:
billboard_songs["id"] = range(len(billboard_songs))

In [ ]:
billboard_songs.head()

In [ ]:
billboard_songs.to_csv('billboard_songs.csv',index=False)

In [ ]:
billboard_ratings = billboard_melt.merge(
    billboard_songs, on=['year','artist','track','time']
)
billboard_ratings.head()

In [ ]:
billboard_ratings = billboard_ratings[['id','date.entered','week','rating']]
billboard_ratings.head()

In [ ]:
billboard_ratings.to_csv('billboard_ratings.csv', index= False)

In [ ]:
billboard_ratings.info()

# Conclusion
- Worked with tab separeated values
- variables can be stored in both rows and columns
- A single unit is stored in multiple tables
- Cleaned data and stored in organised way
- Melt and split