<a href="https://colab.research.google.com/github/NihaRGali/data690_NihaGali/blob/main/project_01/IndividualProject_B_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

In [ ]:
pio.templates

Templates configuration
-----------------------
    Default template: 'plotly'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [ ]:
pio.templates.default = "plotly_dark"

In [ ]:
import plotly

print(plotly.__version__)

5.3.1

In [ ]:
!pip install plotly --upgrade
print(plotly.__version__)

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
5.3.1

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/NihaRGali/data690_NihaGali/main/project_01/wdi_data%20(3).csv")
df

     Unnamed: 0  Year  ...         Income Group    Lending Type
0             0  2005  ...  Upper middle income            IBRD
1             1  2006  ...  Upper middle income            IBRD
2             2  2007  ...  Upper middle income            IBRD
3             3  2008  ...  Upper middle income            IBRD
4             4  2009  ...  Upper middle income            IBRD
..          ...   ...  ...                  ...             ...
490         490  2011  ...          High income  Not classified
491         491  2012  ...          High income  Not classified
492         492  2013  ...          High income  Not classified
493         493  2014  ...          High income  Not classified
494         494  2015  ...          High income  Not classified

[495 rows x 9 columns]

In [ ]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

     Year         value  ...         Income Group    Lending Type
0    2005  10988.958389  ...  Upper middle income            IBRD
1    2006  11642.444132  ...  Upper middle income            IBRD
2    2007  12549.927849  ...  Upper middle income            IBRD
3    2008  13312.763416  ...  Upper middle income            IBRD
4    2009  13269.118777  ...  Upper middle income            IBRD
..    ...           ...  ...                  ...             ...
490  2011     78.641463  ...          High income  Not classified
491  2012     78.741463  ...          High income  Not classified
492  2013     78.741463  ...          High income  Not classified
493  2014     78.841463  ...          High income  Not classified
494  2015     78.690244  ...          High income  Not classified

[495 rows x 8 columns]

In [ ]:
df_2015 = df.query("Year == 2015")
df_2015.sample(10)

     Year         value  ...         Income Group    Lending Type
164  2015  1.271410e+08  ...          High income  Not classified
428  2015  8.064146e+01  ...          High income  Not classified
241  2015  1.230000e+01  ...  Lower middle income            IBRD
131  2015  8.168661e+07  ...          High income  Not classified
461  2015  8.379390e+01  ...          High income  Not classified
296  2015  1.440000e+01  ...          High income  Not classified
10   2015  1.474411e+04  ...  Upper middle income            IBRD
230  2015  1.330000e+01  ...          High income  Not classified
340  2015  7.159189e+12  ...  Lower middle income            IBRD
362  2015  5.057355e+12  ...          High income  Not classified

[10 rows x 8 columns]

In [ ]:
df_2015 = df_2015.query("indicator in['NY.GDP.PCAP.PP.CD','SP.POP.TOTL','SH.STA.SUIC.P5	','SP.DYN.LE00.IN	']")
df_2015.head()

    Year         value  ...         Income Group    Lending Type
10  2015  14744.113634  ...  Upper middle income            IBRD
21  2015  12978.768911  ...  Upper middle income            IBRD
32  2015  47609.781005  ...          High income  Not classified
43  2015   5464.859178  ...  Lower middle income            IBRD
54  2015  10247.206338  ...  Lower middle income            IBRD

[5 rows x 8 columns]

In [ ]:
df_pivot = df_2015.pivot(index =['Country Name','Country Code','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Name Country Code  ... NY.GDP.PCAP.PP.CD   SP.POP.TOTL
0               Brazil          BRA  ...      14744.113634  2.044718e+08
1                China          CHN  ...      12978.768911  1.371220e+09
2              Germany          DEU  ...      47609.781005  8.168661e+07
3                India          IND  ...       5464.859178  1.310152e+09
4            Indonesia          IDN  ...      10247.206338  2.583833e+08

[5 rows x 7 columns]

In [ ]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Name       9 non-null      object
 1   Country Code       9 non-null      object
 2   Region             9 non-null      object
 3   Income Group       9 non-null      object
 4   Lending Type       9 non-null      object
 5   NY.GDP.PCAP.PP.CD  9 non-null      float64
 6   SP.POP.TOTL        9 non-null      float64
dtypes: float64(2), object(5)
memory usage: 632.0+ bytes

In [ ]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="NY.GDP.PCAP.PP.CD",
    title="TOP 10 Countries by 2015 GDP,PPP(Constant 2017 international $",
    labels={"NY.GDP.PCAP.PP.CD":"2015 GDP,PPP(Constant 2017 international $)"}, 
    color="Country Name"
)
fig.update_xaxes(categoryorder="total descending")
fig.show()

In [ ]:
df1= pd.read_csv("https://raw.githubusercontent.com/NihaRGali/data690_NihaGali/main/project_01/wdi_data%20(5).csv")

In [ ]:
df_pop = df1.query('indicator == "SP.POP.TOTL"')
df_pop.head(5)

   Unnamed: 0  Year       value  ...      Region Income Group Lending Type
0           0  2015  34413603.0  ...  South Asia   Low income          IDA
1           1  2016  35383028.0  ...  South Asia   Low income          IDA
2           2  2017  36296111.0  ...  South Asia   Low income          IDA
3           3  2018  37171922.0  ...  South Asia   Low income          IDA
4           4  2019  38041757.0  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [ ]:
df_pivot1 = df_pop.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'],columns = 'indicator', values ='value').reset_index()
df_pivot1.reset_index().head()

indicator  index  Year  ... Lending Type SP.POP.TOTL
0              0  2015  ...          IDA  34413603.0
1              1  2015  ...         IBRD  15567419.0
2              2  2015  ...          IDA  11369066.0
3              3  2015  ...          IDA  14110971.0
4              4  2015  ...        Blend  13814642.0

[5 rows x 8 columns]

In [ ]:
fig = px.line(
    df_pivot1, 
    x="Year", 
    y="SP.POP.TOTL",
    labels={"SP.POP.TOTL":"Population, female(% of total population)"},
    hover_name='Country Name',
    color='Country Name'
    )
fig.show()

In [ ]:
df2= pd.read_csv("https://raw.githubusercontent.com/NihaRGali/data690_NihaGali/main/project_01/wdi_data%20(6).csv")

In [ ]:
df_pop1 = df2.query('indicator == "SP.POP.TOTL"')
df_pop1.head(5)

   Unnamed: 0  Year       value  ...      Region Income Group Lending Type
0           0  2015  34413603.0  ...  South Asia   Low income          IDA
1           1  2016  35383028.0  ...  South Asia   Low income          IDA
2           2  2017  36296111.0  ...  South Asia   Low income          IDA
3           3  2018  37171922.0  ...  South Asia   Low income          IDA
4           4  2019  38041757.0  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [ ]:
df_pivot2 = df_pop1.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'],columns = 'indicator', values ='value').reset_index()
df_pivot2.reset_index().head()

indicator  index  Year  ... Lending Type SP.POP.TOTL
0              0  2015  ...          IDA  34413603.0
1              1  2015  ...         IBRD  15567419.0
2              2  2015  ...          IDA  11369066.0
3              3  2015  ...          IDA  14110971.0
4              4  2016  ...          IDA  35383028.0

[5 rows x 8 columns]

In [ ]:
fig = px.pie(df_pivot2, values='SP.POP.TOTL', names='Country Name', title = '2015 School life expectancy, primary and secondary both sexes(years)',hover_name='Country Name')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [ ]:
df3 = pd.read_csv("https://raw.githubusercontent.com/NihaRGali/data690_NihaGali/main/project_01/wdi_data%20(7).csv")
df3

     Unnamed: 0  Year  ...         Income Group Lending Type
0             0  2015  ...           Low income          IDA
1             1  2016  ...           Low income          IDA
2             2  2017  ...           Low income          IDA
3             3  2018  ...           Low income          IDA
4             4  2019  ...           Low income          IDA
..          ...   ...  ...                  ...          ...
179         179  2015  ...  Lower middle income        Blend
180         180  2016  ...  Lower middle income        Blend
181         181  2017  ...  Lower middle income        Blend
182         182  2018  ...  Lower middle income        Blend
183         183  2019  ...  Lower middle income        Blend

[184 rows x 9 columns]

In [ ]:
df3.drop(columns=["Unnamed: 0"],inplace=True)
df3

     Year         value  ...         Income Group Lending Type
0    2015  3.441360e+07  ...           Low income          IDA
1    2016  3.538303e+07  ...           Low income          IDA
2    2017  3.629611e+07  ...           Low income          IDA
3    2018  3.717192e+07  ...           Low income          IDA
4    2019  3.804176e+07  ...           Low income          IDA
..    ...           ...  ...                  ...          ...
179  2015  2.679508e+03  ...  Lower middle income        Blend
180  2016  2.806469e+03  ...  Lower middle income        Blend
181  2017  3.028277e+03  ...  Lower middle income        Blend
182  2018  2.090711e+03  ...  Lower middle income        Blend
183  2019  4.111699e+02  ...  Lower middle income        Blend

[184 rows x 8 columns]

In [ ]:
df3_new = df3.query("Year == 2015")
df3_new.sample(10)

     Year         value  ...         Income Group Lending Type
158  2015  3.870000e+01  ...  Lower middle income        Blend
130  2015  5.009745e+01  ...           Low income          IDA
45   2015  4.157000e+00  ...           Low income          IDA
6    2015  1.411097e+07  ...           Low income          IDA
94   2015  1.063686e+01  ...           Low income          IDA
136  2015  5.080734e+01  ...  Upper middle income         IBRD
157  2015  4.140000e+01  ...           Low income          IDA
169  2015  8.194441e+03  ...  Upper middle income         IBRD
70   2015  6.745000e+01  ...           Low income          IDA
179  2015  2.679508e+03  ...  Lower middle income        Blend

[10 rows x 8 columns]

In [ ]:
df3_new = df3_new.query("indicator in['SP.POP.TOTL']")
df3_new.head()

    Year       value  ...         Income Group Lending Type
0   2015  34413603.0  ...           Low income          IDA
6   2015  14110971.0  ...           Low income          IDA
12  2015  15567419.0  ...  Upper middle income         IBRD
18  2015  11369066.0  ...           Low income          IDA
24  2015  13814642.0  ...  Lower middle income        Blend

[5 rows x 8 columns]

In [ ]:
df4 = df3_new.pivot(index =['Country Name','Country Code','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df4.head()

indicator Country Name Country Code  ... Lending Type SP.POP.TOTL
0          Afghanistan          AFG  ...          IDA  34413603.0
1                 Chad          TCD  ...          IDA  14110971.0
2            Guatemala          GTM  ...         IBRD  15567419.0
3               Rwanda          RWA  ...          IDA  11369066.0
4             Zimbabwe          ZWE  ...        Blend  13814642.0

[5 rows x 6 columns]

In [ ]:
fig = px.bar(
    df4,
    x="Country Name",
    y="SP.POP.TOTL",
    title="TOP 10 Countries by 2015 Women who believe a husband is justified in beating his wife (any of the five reasons",
    labels={"SP.POP.TOTL":"2015 Women who believe a husband is justified in beating his wife (any of the five reasons"}, 
    color="Country Name"
)
fig.update_xaxes(categoryorder="total descending")
fig.show()